<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CRUD Usuário</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>CRUD de Usuários</h1>
        <p>Sistema de gerenciamento de usuários</p>
        
        <div class="actions">
            <a th:href="@{/login}" class="btn btn-primary">Fazer Login</a>
            <a th:href="@{/cadastro}" class="btn btn-secondary">Cadastrar-se</a>
        </div>
    </div>
</body>
</html>
